<h1>My Tasks</h1>
<div class="task">
<% @tasks.each do |task| %>

  <% if task.completed %>
    <div class="task-container">
      <input type="checkbox" name="task"checked>
      <!-- <label for="task"><a hfe=""> <%= task.title %></a> </label> -->

      <%= link_to "#{task.title}", task_path(task) %>
    </div>
  <% else %>
    <div class="task-container">
      <input type="checkbox" name="task">
     <!--  <label for="task"> <%= task.title %> </label> -->
      <%= link_to "#{task.title}", task_path(task) %>
    </div>
  <% end %>

<% end %>
</div>
